.next {
  position: absolute;
  bottom: 215px;
  right: 3px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: none;
  background-color: rgb(209, 197, 197);
}
.icon {
  font-size: 1.5rem;
  line-height: 50%;
}
