.prev {
  position: absolute;
  margin: 250px 3px;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  z-index: 1;
  border: none;
  background-color: rgb(209, 197, 197);
}
.icon {
  font-size: 1.5rem;
  line-height: 50%;
}
