.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: 1;

  z-index: 1;
  transition: opacity 500ms ease-in-out;
}
.close {
  opacity: 0;
  background-color: transparent;
  pointer-events: none;
}
.imgBox {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30em;
}
.section {
  display: flex;
}
.img {
  width: 100%;
  height: 100%;
}
.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 80%;
  padding: 30px;
}
.closeBtn {
  font-size: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  right: 0;
}
.btnBox {
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .open {
    padding: 0;
  }
  .section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imgBox {
    width: 60%;
    height: 60%;
  }
  .contentBox {
    height: 50%;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .close {
    display: none;
  }
}
