.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header {
  display: flex;
  margin-top: 56px;
  width: 100%;
  align-items: center;
  background-image: url("./img/img2.jpg");
  background-size: cover;
  height: calc(100vh - 56px);
}
.header_innerBox {
  margin-left: 15em;
  color: white;
}
.title {
  border-bottom: 3px solid white;
  font-size: 4rem;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  width: 60%;
  font-size: 1.5rem;
  padding: 3em 0;
}
.profileBox1 {
  display: flex;
}
.profile {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.comment {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
    height: 50vh;
  }
  .header_innerBox {
    margin: 0;
  }
  .title {
    font-size: 2rem;
  }
}
